fastapi
uvicorn
httptools
websockets
watchfiles
pydantic
pydantic-settings
httpx
google-cloud-pubsub
google-cloud-storage
motor
openai==1.102.0
openai-agents
langfuse
python-dotenv
pydantic-ai[logfire]
nest_asyncio
